@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgb(133, 133, 133);
}

button {
  background-color: rgb(201, 201, 201);
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

nav.nav_home {
  height: 53px;
  display: flex;
  padding: 0 16px 0 16px;
  align-items: center;
}
.home_container {
  border-right: 1px solid rgb(239 243 244);
}
/*  Emoji picker styles  */
.factoryForm .EmojiPickerReact {
  --epr-emoji-size: 20px;
  --epr-category-label-bg-color: #fff;
  --epr-search-border-color: #1d9bf0;
  --epr-search-input-bg-color: #fff;
  --epr-picker-border-radius: 15px;
  --epr-category-icon-active-color: #fff;
  position: relative;
  z-index: 100;
}
.factoryForm .EmojiPickerReact.epr-main {
  position: absolute;
  top: 34px;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.emoji_btn {
  border: 0;
  background: transparent;
  font-size: 18px;
  color: #1d9bf0;
}
.factoryForm .EmojiPickerReact .epr-search-container input.epr-search {
  border: 1px solid #cfd9de;
  border-radius: 25px;
  height: 44px;
  display: block;
}
.factoryForm .EmojiPickerReact .epr-search-container input.epr-search:focus {
  border: 2px solid #1d9bf0;
}
.epr-category-nav {
  border-bottom: 1px solid #edeff0;
}
/* Header Menu (Left Side menu)*/

header {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-right: 1px solid rgb(239 243 244);
  flex-grow: 1;
  align-items: flex-start;
}
.headerIcon {
  width: 50px;
  height: 50px;
}
.headerIcon a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_list {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #3c4043;
  padding: 10px;
}
.header_list .header_fontAwesomeIcon {
  width: 24px;
  height: 24px;
}
.header_list span {
  margin-left: 20px;
  margin-right: 16px;
}

/* Home navigation */
.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.center_height {
  min-height: 579px;
}
.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}
.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.home {
  font-size: 20px;
  font-weight: 700;
  color: #3c4043;
}
.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #cfd9de;
  text-align: center;
  background-color: white;
  color: black;
  margin-top: 10px;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid #cfd9de;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.setProfile {
  border: 1px solid #cfd9de;
  background-color: white;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.profileInput__label {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileForm__attachment {
  align-items: center;
}
.profileForm__attachment img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.logOut {
  margin-top: 50px;
}

/* Modal page */
.Modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: absolute;
  width: 600px;
  height: 600px;
  min-height: 400px;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  position: relative;
}
.modal_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.modal_title h1 {
  font-size: 31px;
  font-weight: 700;
  color: #0f1419;
}
.modal_title span {
  font-size: 15px;
  color: #536471;
}
.modal_center {
  padding: 0 20px;
  overflow: hidden;
}
.modal_profilePhoto {
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: flex;
}
.modal_profilePhoto_box {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}
.modal_profilePhoto_box img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.profileForm__submit {
  margin-top: 7px;
}
/* Nwitter Factory */
.main_profileImage {
  width: 50px;
  height: 50px;
}
.main_profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.factoryInput__container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  height: 190px;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding-bottom: 10px;
  padding-left: 16px;
}
.factoryInput__left {
  flex-grow: 0;
  flex-basis: 50px;
}
.factoryInput__right {
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.factoryInput__nweetLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.factoryInput__input {
  width: 100%;
  padding: 10px 20px 20px 0;
  color: rgb(100, 100, 100);
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(239, 243, 244);
  font-size: 20px;
}
.factoryInput__nweetBtn {
  background-color: rgba(29, 155, 240, 0.5);
  height: 34px;
  width: 94px;
  padding: 10px 0px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  margin-right: 10px;
}
.factoryInput__label_left {
  display: flex;
}
.factoryInput__label {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all ease-in 0.1s;
  position: relative;
}
.factoryInput__label:hover {
  background-color: rgba(4, 171, 255, 0.1);
}
.factoryInput__label input {
  display: none;
}

.factoryInput__label,
.profileInput__label {
  color: #04aaff;
  cursor: pointer;
}

.factoryInput__label span,
.profileInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */

article {
  display: flex;
}

.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgb(239, 243, 244);
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}
.nweet_article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
}
.nweet_profile {
  flex-basis: 50px;
  margin-right: 12px;
}
.nweet img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.nweet_username {
  font-weight: 700;
  margin-bottom: 2px;
}
.nweet_like {
  display: flex;
  gap: 4px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

/* SNS 로그인  */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.authContainer h1 {
  font-size: 2.4em;
  margin-bottom: 20px;
  color: #3c4043;
  font-weight: 500;
}
.authBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #cfd9de;
  padding: 10px 0px;
  font-size: 15px;
  text-align: center;
  width: 300px;
  height: 40px;
  background: white;
  cursor: pointer;
  margin: 12px 0;
}
.authBtn:hover {
  background: rgba(210, 227, 252, 0.3);
}
.authBtn span {
  margin-left: 10px;
}
.authLine {
  width: 100%;
  display: flex;
}
.authLine > * {
  width: 100%;
}
.authLine hr {
  width: 100%;
  height: 17px;
  border: 0;
  border-top: 1px solid #cfd9de;
  text-align: center;
  overflow: visible;
  margin-top: 24px;
}
.authLine hr::after {
  content: "또는";
  position: relative;
  top: -10px;
  background: #fff;
  padding: 0 10px;
  color: #3c4043;
  font-size: 1.2em;
}
/* 로그인 Input */

.authInput {
  max-width: 320px;
  width: 100%;
  height: 56px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  margin: 12px 0;
  font-size: 1.2em;
  color: #3c4043;
  border: 1px solid #cfd9de;
}
.authInput:focus {
  color: #3c4043;
  border: 2px solid #000;
}
.authInput::placeholder {
  color: #3c4043;
  opacity: 0.8;
  font-size: 1em;
}
.authInput:focus::placeholder {
  font-size: 1em;
  color: #1d9bf0;
}
.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
.authSignIn {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 1em;
}
.authSwitch {
  color: #04aaff;
  cursor: pointer;

  text-decoration: underline;
}
